매 시간 센서로 부터, 온도(temp)와 습도(hum)를 입력받아서,
온도가 26도 이상이거나 습도가 80 이상이면, 에어콘(히터)를 동작시킴
(동작은 현재 상태(On, Off)를 출력하는 것임)

하루가 끝나면, 
하루 평균 온도(avg_temp)와 습도(avg_hum)를 출력하고,
온도가 가장 높은 시간(h_temp_hour)과 온도(h_temp)와, 
습도가 가장 높은 시간(h_hum_hour)과 습도(h_hum)를 출력한다.

공장 가동 시간은, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17 

데이터를 리스트(배열)로 하는 것과 csv 파일로 만들어서 읽어서 처리하는 것 2가지 작성
함수(클래스)로 기능별 분해
데이터가 하루가 아니라 일주일치 데이터를 처리

In [64]:
import random
import pandas as pd

def createList():
  # 온도는 20~28 사이의 랜덤값 생성
  # 습도는 70~85 사이의 랜덤값 생성
  list = []
  for days in range(1, 8):
    for hours in range(8, 18):
      temp = random.randint(20, 28)
      hum = random.randint(70, 85)
      list.append([days, hours, temp, hum])
  print(f'리스트 생성: {list}')
  return list

def makeCSVfromList(list, filename):
  df = pd.DataFrame(list, columns=['days', 'hours', 'temp', 'hum'])
  print(f'csv로 저장할 데이터프레임:\n {df}')
  df.to_csv(filename, index=False)

def AC_On(time):
  print(f'{time}시: 에어컨 On')

def AC_Off(time):
  print(f'{time}시: 에어컨 Off')

filename = 'temp-hum.csv'
# list = createList()
# makeCSVfromList(list, filename)

df = pd.read_csv(filename)
for days in range(1,8):
  # 일자별로 필터링
  is_days = df['days'] == days
  filtered_df = df[is_days]
  print(filtered_df)
  for row in filtered_df.iterrows():
    print(row)


    # if filtered_df.loc[i, 'temp'] >= 26 or filtered_df.loc[i, 'hum'] >= 80:
    #   AC_On(filtered_df.loc[i, 'hours'])
    # else:
    #   AC_Off(filtered_df.loc[i, 'hours'])


# data = df.groupby(df['days'])
# data.mean()

   days  hours  temp  hum
0     1      8    21   80
1     1      9    23   73
2     1     10    28   78
3     1     11    28   79
4     1     12    23   70
5     1     13    25   80
6     1     14    28   70
7     1     15    21   82
8     1     16    25   77
9     1     17    22   83
(0, days      1
hours     8
temp     21
hum      80
Name: 0, dtype: int64)
(1, days      1
hours     9
temp     23
hum      73
Name: 1, dtype: int64)
(2, days      1
hours    10
temp     28
hum      78
Name: 2, dtype: int64)
(3, days      1
hours    11
temp     28
hum      79
Name: 3, dtype: int64)
(4, days      1
hours    12
temp     23
hum      70
Name: 4, dtype: int64)
(5, days      1
hours    13
temp     25
hum      80
Name: 5, dtype: int64)
(6, days      1
hours    14
temp     28
hum      70
Name: 6, dtype: int64)
(7, days      1
hours    15
temp     21
hum      82
Name: 7, dtype: int64)
(8, days      1
hours    16
temp     25
hum      77
Name: 8, dtype: int64)
(9, days      1
hours    17
temp     22
hum      83
Name: 9, dtype: int64)
    days  hours  temp  hum
10     2      8    26   80
11     2      9    20   77
12     2     10    22   80
13     2     11    22   82
14     2     12    25   82
15     2     13    24   71
16     2     14    26   76
17     2     15    22   85
18     2     16    24   82
19     2     17    28   78
(10, days      2
hours     8
temp     26
hum      80
Name: 10, dtype: int64)
(11, days      2
hours     9
temp     20
hum      77
Name: 11, dtype: int64)
(12, days      2
hours    10
temp     22
hum      80
Name: 12, dtype: int64)
(13, days      2
hours    11
temp     22
hum      82
Name: 13, dtype: int64)
(14, days      2
hours    12
temp     25
hum      82
Name: 14, dtype: int64)
(15, days      2
hours    13
temp     24
hum      71
Name: 15, dtype: int64)
(16, days      2
hours    14
temp     26
hum      76
Name: 16, dtype: int64)
(17, days      2
hours    15
temp     22
hum      85
Name: 17, dtype: int64)
(18, days      2
hours    16
temp     24
hum      82
Name: 18, dtype: int64)
(19, days      2
hours    17
temp     28
hum      78
Name: 19, dtype: int64)
    days  hours  temp  hum
20     3      8    20   82
21     3      9    25   84
22     3     10    27   81
23     3     11    23   84
24     3     12    23   83
25     3     13    28   75
26     3     14    25   72
27     3     15    22   79
28     3     16    20   81
29     3     17    24   82
(20, days      3
hours     8
temp     20
hum      82
Name: 20, dtype: int64)
(21, days      3
hours     9
temp     25
hum      84
Name: 21, dtype: int64)
(22, days      3
hours    10
temp     27
hum      81
Name: 22, dtype: int64)
(23, days      3
hours    11
temp     23
hum      84
Name: 23, dtype: int64)
(24, days      3
hours    12
temp     23
hum      83
Name: 24, dtype: int64)
(25, days      3
hours    13
temp     28
hum      75
Name: 25, dtype: int64)
(26, days      3
hours    14
temp     25
hum      72
Name: 26, dtype: int64)
(27, days      3
hours    15
temp     22
hum      79
Name: 27, dtype: int64)
(28, days      3
hours    16
temp     20
hum      81
Name: 28, dtype: int64)
(29, days      3
hours    17
temp     24
hum      82
Name: 29, dtype: int64)
    days  hours  temp  hum
30     4      8    26   82
31     4      9    26   81
32     4     10    20   75
33     4     11    28   84
34     4     12    24   74
35     4     13    23   75
36     4     14    28   82
37     4     15    24   72
38     4     16    28   84
39     4     17    25   76
(30, days      4
hours     8
temp     26
hum      82
Name: 30, dtype: int64)
(31, days      4
hours     9
temp     26
hum      81
Name: 31, dtype: int64)
(32, days      4
hours    10
temp     20
hum      75
Name: 32, dtype: int64)
(33, days      4
hours    11
temp     28
hum      84
Name: 33, dtype: int64)
(34, days      4
hours    12
temp     24
hum      74
Name: 34, dtype: int64)
(35, days      4
hours    13
temp     23
hum      75
Name: 35, dtype: int64)
(36, days      4
hours    14
temp     28
hum      82
Name: 36, dtype: int64)
(37, days      4
hours    15
temp     24
hum      72
Name: 37, dtype: int64)
(38, days      4
hours    16
temp     28
hum      84
Name: 38, dtype: int64)
(39, days      4
hours    17
temp     25
hum      76
Name: 39, dtype: int64)
    days  hours  temp  hum
40     5      8    28   82
41     5      9    20   71
42     5     10    25   79
43     5     11    28   76
44     5     12    24   85
45     5     13    24   70
46     5     14    20   85
47     5     15    22   80
48     5     16    28   77
49     5     17    21   75
(40, days      5
hours     8
temp     28
hum      82
Name: 40, dtype: int64)
(41, days      5
hours     9
temp     20
hum      71
Name: 41, dtype: int64)
(42, days      5
hours    10
temp     25
hum      79
Name: 42, dtype: int64)
(43, days      5
hours    11
temp     28
hum      76
Name: 43, dtype: int64)
(44, days      5
hours    12
temp     24
hum      85
Name: 44, dtype: int64)
(45, days      5
hours    13
temp     24
hum      70
Name: 45, dtype: int64)
(46, days      5
hours    14
temp     20
hum      85
Name: 46, dtype: int64)
(47, days      5
hours    15
temp     22
hum      80
Name: 47, dtype: int64)
(48, days      5
hours    16
temp     28
hum      77
Name: 48, dtype: int64)
(49, days      5
hours    17
temp     21
hum      75
Name: 49, dtype: int64)
    days  hours  temp  hum
50     6      8    27   73
51     6      9    24   73
52     6     10    23   82
53     6     11    20   81
54     6     12    25   77
55     6     13    20   72
56     6     14    21   78
57     6     15    26   70
58     6     16    20   82
59     6     17    23   83
(50, days      6
hours     8
temp     27
hum      73
Name: 50, dtype: int64)
(51, days      6
hours     9
temp     24
hum      73
Name: 51, dtype: int64)
(52, days      6
hours    10
temp     23
hum      82
Name: 52, dtype: int64)
(53, days      6
hours    11
temp     20
hum      81
Name: 53, dtype: int64)
(54, days      6
hours    12
temp     25
hum      77
Name: 54, dtype: int64)
(55, days      6
hours    13
temp     20
hum      72
Name: 55, dtype: int64)
(56, days      6
hours    14
temp     21
hum      78
Name: 56, dtype: int64)
(57, days      6
hours    15
temp     26
hum      70
Name: 57, dtype: int64)
(58, days      6
hours    16
temp     20
hum      82
Name: 58, dtype: int64)
(59, days      6
hours    17
temp     23
hum      83
Name: 59, dtype: int64)
    days  hours  temp  hum
60     7      8    24   70
61     7      9    22   70
62     7     10    21   77
63     7     11    22   81
64     7     12    23   75
65     7     13    24   79
66     7     14    22   76
67     7     15    22   71
68     7     16    26   76
69     7     17    22   72
(60, days      7
hours     8
temp     24
hum      70
Name: 60, dtype: int64)
(61, days      7
hours     9
temp     22
hum      70
Name: 61, dtype: int64)
(62, days      7
hours    10
temp     21
hum      77
Name: 62, dtype: int64)
(63, days      7
hours    11
temp     22
hum      81
Name: 63, dtype: int64)
(64, days      7
hours    12
temp     23
hum      75
Name: 64, dtype: int64)
(65, days      7
hours    13
temp     24
hum      79
Name: 65, dtype: int64)
(66, days      7
hours    14
temp     22
hum      76
Name: 66, dtype: int64)
(67, days      7
hours    15
temp     22
hum      71
Name: 67, dtype: int64)
(68, days      7
hours    16
temp     26
hum      76
Name: 68, dtype: int64)
(69, days      7
hours    17
temp     22
hum      72
Name: 69, dtype: int64)