# Rep 5. KNN분류 및 로지스틱회귀
- Kaggle에서 분류 관련 데이터셋을 구해서, 2진분류와 다중분류를, 교재에 흐름대로 실습한 결과물

#### 201845092 이정윤

### 1. 2진분류

##### dataset : diabetes2.csv
출처 : https://www.kaggle.com/datasets/kandij/diabetes-dataset
- Pragnancies : 임신 횟수
- Glucose : 포도당
- BloodPressure : 혈압
- SkinThickness : 삼두근 피부 두께
- Insulin : 2시간 혈청 인슐린
- BMI : 체질량지수
- DiabetesPedigreeFunction : 당뇨병 혈통 기능
- Age : 나이
- Outcome : 당뇨병이면 1, 아니면 0
#### (1) KNN

In [40]:
import pandas as pd
diabate = pd.read_csv("data/diabetes2.csv")
diabate

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

Train, Test 분리  
StandardScaler로 스케일링

In [41]:
diabate_input = diabate[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']].to_numpy()
diabate_target = diabate['Outcome'].to_numpy()

from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = train_test_split(diabate_input, diabate_target, random_state=42)

from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(train_input)
train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

KNN 사용

In [42]:
from sklearn.neighbors import KNeighborsClassifier
kn = KNeighborsClassifier(n_neighbors=3)
kn.fit(train_scaled, train_target)
print(kn.score(train_scaled, train_target))
print(kn.score(test_scaled, test_target))

0.8645833333333334
0.6979166666666666

In [43]:
print(kn.classes_)

[0 1]